.hero{
    display : flex;
    align-items: center;
    flex-direction: column;
    gap : 30px;
}

.hero img{
    margin-top : 70px;
    border-radius:5px;
    height : 300px;
}

.hero h1{
    text-align : center;
    width : 70%;
    font-size : 70px;
    font-weight : 500;
    background : linear-gradient(270deg , #df8908 10% , #b415ff 100%);
    background-clip : text;
    color : transparent;
    -webkit-background-clip: text;
}
.hero p{
    width : 50%;
    text-align : center;
    font-size : 24px;
    line-height : 40px;
}

.hero-action{
    display : flex;
    align-items: center;
    gap : 25px;
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 50px;
}

.hero-connect{
    padding : 25px 45px;
    border-radius : 50px;
    background : linear-gradient(264deg,#df8908 -5.09%, #b415ff 106.2%);
    cursor : pointer;
}

.hero-resume{
    padding : 25px 75px;
    border-radius : 50px;
    border : 2px solid #fff;
    cursor : pointer;
}

.hero-connect:hover{
    border : 2px solid white;
}

.hero-resume:hover{
    border-color : #b415ff;
}

/* Responsive styling for smaller screens */
@media (max-width: 768px) {
    .hero h1 {
        font-size: 35px; /* Adjusted font size for smaller screens */
    }
    .hero p {
        width: 70%; /* Adjusted width for better readability on smaller screens */
    }
    .photo {
        height: 200px; /* Reduced image height */
    }
    .hero-action {
        flex-direction: column;
        gap: 15px;
    }
    .hero-connect, .hero-resume {
        padding: 15px 30px; /* Reduced padding for buttons on smaller screens */
        font-size: 20px; /* Adjusted font size */
    }
}